@import 'base';

h1 {
  margin-left: -8%;
  font-size: 3rem;
}

a {
  text-decoration: none;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.project-box {
  width: 360px;
  height: 180px;
  border-radius: 5px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text-default {
    opacity: 0;
    transition: opacity 600ms;
    font-family: $header-font;
    font-size: 5rem;
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .text-hover {
    opacity: 0;
    transition: opacity 600ms;
    font-size: 1.75rem;
    width: 100%;
    text-align: center;
  }
}

.project-box:hover {
  .text-default {
    opacity: 1;
  }
  .text-hover {
    opacity: 1;
  }
}

.stable {
  background: url('../assets/ss2.png') no-repeat;
  background-size: 100%;
  background-position: center;
  transition: background-size 600ms;
}
.stable:hover {
  background-size: 110%;
}

.chatty {
  background: url('../assets/chatty_ss.png') no-repeat;
  background-size: 100%;
  background-position: center;
  transition: background-size 600ms;
}
.chatty:hover {
  background-size: 110%;
}

.jungle {
  background: url('../assets/ss1.png') no-repeat;
  background-size: 100%;
  background-position: center;
  transition: background-size 600ms;
}
.jungle:hover {
  background-size: 110%;
}

.tweeter {
  background: url('../assets/tweeter_ss.png');
  background-size: 100%;
  background-position: center;
  transition: background-size 600ms;
}
.tweeter:hover {
  background-size: 110%;
}

.yegbot {
  background: url('../assets/yegbot_ss.png');
  background-size: 100%;
  background-position: center;
  transition: background-size 600ms;
}
.yegbot:hover {
  background-size: 110%;
}

.tinyapp {
  background: url('../assets/tinyapp_ss.png');
  background-size: 100%;
  background-position: center;
  transition: background-size 600ms;
}
.tinyapp:hover {
  background-size: 110%;
}

@media screen and (max-width: 600px) {
  .project-box {
    width: 80vw;

    .text-default {
      font-size: 4rem;
      opacity: 1;
    }
    .text-hover {
      opacity: 1;
    }
  }
}